<nav class="top-header">
  <div class="top-header__search">
    <input type="text" name="searchValue" 
          [ngModel]="searchValue" 
          (ngModelChange)="onSearchValueChange($event);"/>
  </div>
</nav>
