<!-- <h3>MESSAGE NEW</h3> -->

<div class="chat-input">
  <form id="chat-input__form">
    <div class="chat-input__textarea-wrapper">
      <textarea 
        id="message-textarea" 
        placeholder="Type something..." 
        name="chat-input__textarea"
        autofocus="true"
        [(ngModel)]="newMessage"
        (keyup.enter)="sendMessage()"
      >
      </textarea>
      <div class="chat-input__smile"></div>
      <div class="chat-input__file"></div>
    </div>
    <input type="file" id="chat-input__attach-file" hidden>
  </form>
  <div class="chat-input__send-button" (click)="sendMessage()"></div>
</div>