:host {
    // height: 120px;
    flex-shrink: 0;
    display: flex;
}

.chat-input,
.chat-input form,
.chat-input__textarea-wrapper,
.chat-input textarea {
  min-height: 74px;
  max-height: 120px;
}

.chat-input {
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: #fff;
  form {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 24px 0 76px;
  }
  &__textarea-wrapper {
    overflow: hidden;
    position: relative;
  }
  textarea {
	border-color: #ECEFF1;
	border-radius: 2px;
	font: 300 16px/20px sans-serif;
	resize: none;
	transition: height 0.15s;
    white-space: pre-wrap;
    word-wrap: break-word;
    border: none;
    outline: none;
    width: calc(100% + 18px);
    overflow-y: scroll;
    padding: 5px 56px 5px 7px;
    background-color: #ededfa;
  }
  &__smile {
    position: absolute;
    width: 26px;
    height: 26px;
    bottom: 38px;
    right: 4px;
    border-radius: 50%;
    background: url(/assets/img/smile.svg) no-repeat center;
    background-size: 15px;
    background-position: 5px 4px;
    &:hover {
      background: url(/assets/img/smile-hover.svg) no-repeat center;
      background-size: 15px;
      background-position: 5px 4px;
    }
  }
  &__file {
    position: absolute;
    width: 26px;
    height: 26px;
    bottom: 8px;
    right: 4px;
    border-radius: 50%;
    background: url(/assets/img/file.svg) no-repeat center;
    background-size: 15px;
    background-position: 5px 4px;
    &:hover {
      background: url(/assets/img/file-hover.svg) no-repeat center;
      background-size: 15px;
      background-position: 5px 4px;
    }
  }
  &__send-button {
    width: 52px;
    height: 52px;
    margin: auto;
    margin-right: 21px;
    cursor: pointer;
    border-radius: 50%;
    /*-webkit-mask: url(send.svg) no-repeat 50% 50%;
    mask: url(send.svg) no-repeat 50% 50%;
    -webkit-mask-size: 32px;
    mask-size: 32px;*/
    background: url(/assets/img/send.svg) no-repeat center;
    background-size: 32px;
    background-position: 6px 10px;
    &:hover {
      background: url(/assets/img/send-hover.svg) no-repeat center;
      background-size: 32px;
      background-position: 6px 10px;
    }
  }
}