<div class="tab-login">

	<span class="error-message" *ngIf="error">{{ error }}</span>

  <button (click)="loginFb()" id="fb">Login With Facebook</button><br>
  <button (click)="loginGoogle()" id="google">Login With Google</button>

	<form novalidate #f="ngForm" (ngSubmit)="onSubmit(f)">
	  <div class="input-group">
	    <label>Email
	    	<input
					type="email"
					placeholder="Email address"
					required
					name="email"
					ngModel
					pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
					#email="ngModel">
			</label>
			<span class="error" *ngIf="email.errors && (email.dirty || email.touched)">Email is required and format should be <i>john@doe.com</i>.</span>
	  </div>

	  <div class="input-group">
	    <label>Password
	    	<input
					type="password"
					placeholder="Password"
					required
					name="password"
					ngModel
					minlength="6"
					#password="ngModel">
			</label>
			<span class="error" *ngIf="password.errors && (password.dirty || password.touched)">
					<span [hidden]="!password.errors.required">
						Password is required
					</span>
					<span [hidden]="!password.errors.minlength">
						Password must be at least 6 characters long.
					</span>
			</span>
	  </div>

	  <!--<div class="input-group">
	    <input
				type="checkbox"
				id="remember-password"
				name="rememberPassword"
				ngModel
				onfocus="document.querySelector('.checked-arrow').style.transform = 'scale(1.1)';"
				onblur="document.querySelector('.checked-arrow').style.transform = 'scale(1)';">
	    <label for="remember-password">
				<span class="checked-arrow"></span>
				Remember password</label>
	  </div>-->
	  <div class="input-group">
	    <input type="submit" class="submit-button" value="Log In" [disabled]="!f.valid">
	  </div>
		<a routerLink="/auth/register" class="create-acc">Don't have an account?</a>
	</form>
</div>
