button {
  padding: 12px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  &#fb {
    color: #fff;
    background: #3F51B5;
    border: 1px solid #5759a9;
  }
  &#google {
    color: #000;
    background: #fff;
    border: 1px solid #5759a9;
  }
}

.error-message {
    background: rgba(200, 38, 111, 0.3);
    padding: 1em;
    width: 100%;
    display: block;
    margin-bottom: 20px;
    border: 1px solid #c8266f;
    color: #fff;
}

a.create-acc {
  text-align: center;
  display: block;
  color: rgba(255, 255, 255, 0.6);
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

input[type="checkbox"] {
  opacity: 0;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-size: 12px;
  display: inline-block;
  margin-bottom: 5px;
  letter-spacing: 1px;
  user-select: none;
  width: 100%;
}

.input-group input,
.input-group button {
  width: 100%;
	display: block;
	padding: 10px 20px;
	border-radius: 25px;
	background-color: #5759a9;
}

.input-group input {
  border: 2px solid transparent;
  outline: none;
  color: #ffffff;
  margin-top: 5px;
}

.input-group input:focus {
  color: #4548a0;
}

.input-group input[type="checkbox"] + label {
  text-transform: initial;
  user-select: none;
}

.input-group input:not([type="submit"]):focus {
  background: #ffffff;
  border: 2px solid rgb(87, 89, 169);
  transition: border-color 0.5s ease-in-out,
              background-color 0.5s ease-in-out,
              color 0.5s ease-in-out;
}

.input-group input[type="submit"] {
  color: rgba(237, 237, 250, 0.9);
  background-color: rgba(233, 30, 99, 0.8);
  transition: background-color 0.5s ease-in-out,
              color 0.5s ease-in-out,
              box-shadow 0.5s ease-in-out;
  &:hover {
    background-color: rgba(233, 30, 99, 1);
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
  }
  &:disabled {
    background-color: #5759a9;
    color: rgba(255, 255, 255, 0.4);
    box-shadow: none;
    &:hover {
      cursor: not-allowed;
    }
  }
}

.checked-arrow {
	width: 15px;
	height: 15px;
	border-radius: 2px;
	position: relative;
	display: inline-block;
	background: rgba(255,255,255,.1);
  vertical-align: text-top;
  margin-right: 10px;
}

.checked-arrow::before,
.checked-arrow::after {
  content: '';
	width: 10px;
	height: 2px;
	background: #ffffff;
	position: absolute;
}

.checked-arrow::before {
	left: 3px;
	width: 5px;
	bottom: 6px;
  transform: scale(0) rotate(0);
  transition: transform .1s linear;
}

.checked-arrow::after {
	top: 6px;
	right: 0;
  transform: scale(0) rotate(0);
  transition: transform .2s linear;
}

#remember-password:checked + label {
	color: #ffffff;
}

#remember-password:checked + label .checked-arrow::before {
  transform: scale(1) rotate(45deg);
}

#remember-password:checked + label .checked-arrow::after {
  transform: scale(1) rotate(-45deg);
}

span.error {
  color: #e91e63;
  padding-left: 10px;
}