:host {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.top-header {
  height: 88px;
  overflow: hidden;
  background-color: rgb(216, 216, 247);
  display: flex;
  &__search {
  	display: flex;
    flex-grow: 1;
    justify-content: center;
    input {
      flex-grow: 1;
      max-width: 700px;
      margin: auto 20px;
      height: 32px;
      border: 0;
      border-radius: 15px;
      padding: 0 10px;
      outline: none;
      background-color: #ededfa;
      &:focus {
        background-color: #fff;
      }
    }
  }
}