<!-- <h3>MESSAGES LIST</h3> -->

<div class="messages">
	<ul #scrollable>
	  <!-- <li *ngFor='let message of messages | async | filterMessageByText: searchValue'   -->
	  <li *ngFor='let message of messages | async'  
				ngClass="{{isOutgoing(message.email) ?
									 'messages-item messages-item--outgoing' :
									 'messages-item messages-item--incoming'}}">
		  <div class="messages-item__image">
		  	<img [src]="message.photoURL" alt="">
		  </div>
		  <div [myHighlight] class="messages-item__content">
		    {{ message.text }}
		  </div>
		  <div class="messages-item__timestamp">
		    {{ message.displayName }} {{ message.sentAt | date:'HH:mm' }}
		  </div>
	   </li>
	</ul>
</div>
