:host {
    flex-grow: 1;
    display: flex;
}

.messages {
  display: flex;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  ul {
    list-style: none;
    margin: 15px 0;
    padding: 0 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    // justify-content: flex-end;
    overflow: hidden;
    overflow-y: scroll;
    min-height: 0;
    width: 100%;
    max-width: 760px;
    min-width: 400px;
  }
  &-item {
    flex-shrink: 0;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    &__image {
      width: 52px;
      align-items: flex-end;
      display: flex;
      img {
        height: 52px;
        width: 52px;
        border-radius: 50%;
      }
    }
    &--incoming {
      .messages-item {
        &__image {
		      margin-right: 15px;
        }
        &__content {
          color: #fff;
          background-color: #989ad7;
        }
        &__timestamp {
          right: 0;
        }
      }
    }
    &--outgoing {
      .messages-item {
        &__image {
		  margin-left: 15px;
          order: 1;
        }
        &__content {
          color: #3b3b3c;
          background-color: #f1f1fb;
        }
        &__timestamp {
          left: 0;
        }
      }
    }
    &__content {
      background: cornsilk;
      padding: 16px 25px;
      border-radius: 8px;
      flex-grow: 1;

      transform: scale(0);
      transform-origin: 0 0;
      animation: bounce 500ms linear both;
    }
    &__timestamp {
      position: absolute;
      bottom: -22px;
      color: #b4b4f1;
      font-size: 14px;
    }
  }
}

@keyframes bounce { 
  0% { transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% { transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% { transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% { transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% { transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% { transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% { transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% { transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% { transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% { transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% { transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% { transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}