<div class="tab-signup">
	<span class="error-message" *ngIf="error">{{ error }}</span>
	<form novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">
	  <!--<div class="input-group">
	    <label>Full name
		    <input
					type="text"
					placeholder="Full name"
					formControlName="name">
			</label>
			<span class="error"
			  *ngIf="user.get('name').hasError('required') && user.get('name').touched">
			  Full name is required
			</span>
			<span class="error"
			  *ngIf="user.get('name').hasError('minlength') && user.get('name').touched ">
			  Minimum of 2 characters
			</span>
	  </div>-->
		<div class="input-group">
			<label>E-mail address
				<input
					type="email"
					placeholder="Email address"
					formControlName="email">
			</label>
			<span class="error"
			  *ngIf="(user.get('email').touched ||
							 user.get('email').dirty) && user.get('email').invalid">
			  Email is required and format should be <i>john@doe.com</i>.
			</span>
		</div>
		<div formGroupName="passwords">
		  <div class="input-group">
		    <label>Password
			    <input
						type="password"
						placeholder="Password"
						formControlName="password">
				</label>
				<span class="error"
				  *ngIf="user.get('passwords').get('password').errors
								&& (user.get('passwords').get('password').dirty 
								|| user.get('passwords').get('password').touched)">
				  Mininmum password length 6 is required
				</span>
		  </div>
		  <!--<div class="input-group">
		    <label>Confirm password
					<input
						type="password"
						placeholder="Confirm password"
						formControlName="confirmPassword">
				</label>
				<span class="error"
					*ngIf="user.get('passwords').get('password').value != '' 
								&& user.get('passwords').get('password').valid
								&& user.get('passwords').get('confirmPassword').value != user.get('passwords').get('password').value
								&& (user.get('passwords').get('confirmPassword').touched || user.get('passwords').get('confirmPassword').dirty)">
					Passwords don't match
				</span>
		  </div>-->
		</div>
	  <div class="input-group">
	    <input type="submit" value="Sign up" [disabled]="user.invalid">
	  </div>
	</form>
</div>
