<!-- <h1>Chat App</h1> -->
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/chat" routerLinkActive="active">Chat</a>
  <span *ngIf="!authenticated">
    <a routerLink="/auth/login" routerLinkActive="active">Login</a>
    <a routerLink="/auth/register" routerLinkActive="active">Sign up</a>
  </span>
  <span *ngIf="authenticated">
    {{ name.auth.displayName }}
    <button (click)="logout();">Logout</button>
  </span>
</nav>
