nav {
  background-color: rgb(241, 241, 251);
  height: 44px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  a,
  span a {
    text-decoration: none;
    margin: 0 20px;
    line-height: 42px;
    color: rgba(60, 63, 152, 0.6);
    border-top: 2px solid transparent;
    &:hover,
    &:active,
    &.active {
      color: #3c3f98;
      border-top: 2px solid #bdbdea;
    }
  }
  span {
    display: flex;
    color: #3c3f98;
    margin: 0 10px;
    // font-size: 18px;
    flex-shrink: 0;
    button {
      margin-left: 10px;
    }
  }
}