<nav class="top-navigation">
  <div class="top-navigation__arrow"></div>
  <div class="top-navigation__search">
    <input type="text" name="searchValue" 
          [ngModel]="searchValue" 
          (ngModelChange)="onSearchValueChange($event)"/>
  </div>
  <div class="top-navigation__menu" routerLink="/chat/new">
    <i class="menu-icon"></i>
  </div>
</nav>
