:host {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.top-navigation {
  height: 88px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
  &__arrow {
  	flex-shrink: 0;
  	width: 88px;
  	height: 88px;
    &:hover {
      cursor: pointer;
    }
    &::after {
      content: '';
      display: block;
      border: none;
      border-right: 2px solid #fff;
      border-bottom: 2px solid #fff;
      border-radius: 2px;
      width: 22px;
      height: 22px;
      transform: rotate(-45deg);
      margin-left: 26px;
      margin-top: 31px;
      /*transition: margin .2s ease;*/
    }
  }
  &__search {
    opacity: 0;
    flex-grow: 1;
  	display: flex;
    justify-content: center;
    input {
    	height: 32px;
    	border: 0;
    	border-radius: 15px;
    	margin: auto;
    	padding: 0 10px;
    	outline: none;
    	background-color: #ededfa;
      &:focus {
        background-color: #fff;
      }
    }
  }
  &__menu {
    opacity: 0;
    flex-shrink: 0;
  	height: 88px;
  	width: 88px;
    &:hover {
      cursor: pointer;
      .menu-icon {
        &:before {
          top: -12px;
          transition: top .2s ease;
        }
        &:after {
          top: 12px;
          transition: top .2s ease;
        }
      }
    }
    .menu-icon {
      display: block;
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      margin-left: 29px;
      margin-top: 42px;
      position: relative;
      cursor: pointer;
      &:before {
        content: '';
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: -10px;
        left: 0;
        transition: top .2s ease;
      }
      &:after {
        content: '';
        width: 30px;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        top: 10px;
        left: 0;
        transition: top .2s ease;
      }
    }
  }
}
