.auth-wrapper {
  width: 100%;
  margin: auto;
  max-width: 500px;
  min-width: 320px;
  /*min-height: 480px;*/
  position: relative;
  color: #898bc2;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.24);
  background-color: #4548a0;
  margin-top: 30px;
}

.tab {
  float: left;
  width: 50%;
  font-size: 22px;
  padding-bottom: 5px;
  text-align: center;
  padding: 20px 0;
  color: #5759a9;
  background-color: #ededfa;
}

.tab:hover {
  cursor: pointer;
  color: #f1f1fb;
  background-color: rgb(87, 89, 169);
}

.tab.is-active {
  color: #ffffff;
  background-color: rgb(69, 72, 160);
  cursor: default;
}

.auth-wrapper label,
.input-group input[type="submit"] {
  text-transform: uppercase;
  font: 100 16px/18px sans-serif;
}

.tabs-content {
  min-height: 250px;
  position: relative;
  clear: both;
  padding: 20px 40px;
}
