<!-- <h1>AUTH</h1> -->
<div class="auth-wrapper">

<div routerLink="login" routerLinkActive="is-active" class="tab">LOGIN</div>
<div routerLink="register" routerLinkActive="is-active" class="tab">SIGNUP</div>

    <div class="tabs-content">
      
<router-outlet></router-outlet>
      
    </div>
  </div>
