<div class="new-chat">
    <h3>Chat New Form | Search user by username</h3>
    <ct-chat-new-header></ct-chat-new-header>
    <ul>
        <li *ngFor="let user of users | filterUserByUsername: searchValue">
            <div>ID: {{ user.id }}</div> 
            <div>Username: {{ user.username }}</div>
        </li>
    </ul>
</div>