:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.new-chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    h3 {
        text-align: center;
    }
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        li {
            background-color: #BBDEFB;
            height: 44px;
            flex-shrink: 0;
            &:nth-child(odd) {
                background-color: #64B5F6;
            }
        }
    }
}