<!-- <h1> Chats Page </h1> -->
<div class="content-wrapper">
	<aside class="aside-wrapper is-open">

		<ct-chat-nav></ct-chat-nav>

	<!--<div class="contacts-wrapper">-->

		<ct-chat-list [chats]="chats"></ct-chat-list>

	<!--</div>-->

	</aside>

	<main class="messages-wrapper">

	<router-outlet></router-outlet>

	</main>
</div>