:host {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.contacts {
    background-color: #3c3f98;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    overflow-y: scroll;
    flex-grow: 1;
  &-item {
    height: 88px;
    background-color: #3c3f98;
    display: flex;
    flex-shrink: 0;
    display: flex;
    padding: 18px;
    overflow: hidden;
    user-select: none;
    &:hover {
      background-color: #575aa5;
      cursor: pointer;
      .contacts-item__content p {
        color: #fab4ca;
      }
      .contacts-item__status {
        color: #797cbf;
        background-color: #ffffff;
      }
    }
    &__content {
      float: left;
      width: calc(100% - 102px);
      padding-left: 20px;
      padding-right: 10px;
      opacity: 0;
      h4 {
        color: #f2f2f8;
        font-size: 18px;
        font-weight: normal;
        margin: 0;
        padding: 7px 0 6px;
        // @extend .ellipsis !optional;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p {
        color: #8486bf;
        margin: 0;
        padding: 0;
        padding-bottom: 5px;
        font-size: 14px;
        // @extend .ellipsis !optional;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &.current {
      background-color: #f23f79;
      cursor: default;
      .contacts-item__content p {
        color: #fab4ca;
      }
      .contacts-item__status {
        color: #f23f79;
        background-color: #ffffff;
      }
    }
    &__image {
      width: 52px;
      flex-shrink: 0;
      img {
        width: 52px;
        height: 52px;
        border-radius: 50%;
      }
    }
    &__status {
      width: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 2px;
      border-radius: 15px;
      background-color: #37398d;
      color: #8d8da9;
      font-size: 14px;
      text-align: center;
      vertical-align: middle;
      opacity: 0;
    }
  }
}
