<!-- <h3> Chat List </h3> -->

<ul class="contacts">
<!--   <li *ngFor="let chat of chats | async" (click)="select({id: chat.id})">
    {{ chat.name }}
  </li> -->
	<li class="contacts-item" 
	*ngFor="let chat of chats | async | filterChatByName: searchValue" 
	(click)="select({id: chat.id})"
	routerLinkActive="active" 
	[class.current]="selectedId == chat.id">
		<div class="contacts-item__image">
			<img src="https://randomuser.me/api/portraits/men/17.jpg" alt="">
		</div>
		<div class="contacts-item__content">
		  <h4>{{ chat.name }}</h4>
		  <p>The sooner all the animals are extinct, the sooner we'll find their money.</p>
		</div>
		<div class="contacts-item__status">
		  {{ chat.createdAt | date:'HH:mm' }}
		</div>
	</li>
</ul>
