.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: sans-serif; /* 1 */
  line-height: 1.15; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}


body, 
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.contacts::-webkit-scrollbar,
.messages ul::-webkit-scrollbar {
  display: none;
}
/*LAYOUT*/

.chat-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aside-wrapper {
  width: 88px;
  background-color: #3c3f98;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.aside-wrapper.is-open {
  width: 380px;
}

.aside-wrapper.is-open .top-navigation__arrow::after {
  border: none;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  margin-left: 30px;
  /*transform: rotate(135deg);*/
}

.aside-wrapper.is-open .top-navigation__search,
.aside-wrapper.is-open .top-navigation__menu {
  opacity: 1;
}

.aside-wrapper.is-open .contacts-item__content,
.aside-wrapper.is-open .contacts-item__status {
  opacity: 1;
}

// .contacts-wrapper {
//   flex-grow: 1;
//   display: flex;
// }

.messages-wrapper {
  flex-grow: 1;
  background-color: #fff;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}
